@import "componentes/variables";
@import "componentes/hero";
@import "componentes/barra";
@import "componentes/evento";

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: $bg-base;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
}
